.graphContent{
    display: flex;
    flex-direction: column;
    width: 70%;
    gap:30px;
}

.otherGraph{
    display: flex;
    flex-direction: row;
    gap:30px;
}

.squareGraph{
    width: 33%;
}

/* .squareGraph>div > .recharts-wrapper > .recharts-surface {
    width: 100%;
} */
.squareGraph>div > .recharts-wrapper {
    width: 100%!important; 
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
}

.graphTitle{
    font-size: 15px;
}


/* ---------------SESSION GRAPH---------------- */
.customTooltipSession{
    background-color: white;
    width: 39px;
    height: 25px;
    border-style: none;
}

.tooltipDataSession{
    color: #000000;
    font-weight: 500;
    font-size: 8px;
    text-align: center;
    line-height: 24px;
} 


/* -------------ACTIVITY GRAPH---------------- */
.activityGraph{
    height: 320px;
    background: #FBFBFB;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
    border-radius: 5px;
    margin-bottom: 28px;
}

.customTooltip{
    background-color: #E60000;
    width: 39px;
    height: 63px;
    margin-left: 7px;
}

.tooltipData{
    font-weight: 500;
    font-size: 7px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: center;
}

.activityGraph > div > .recharts-wrapper {
    width: 100%!important;
}

.activityGraph > div > .recharts-wrapper > .recharts-surface {
    max-width: 100%;
}

.activityLegend{
    font-size: 14px;
}

/* -------------SCORE GRAPH---------------- */
.scoreSize{
    font-size: 26px;
}


/* ----------------RESPONSIVE-------------- */
@media screen and (min-width : 993px) and (max-width: 1220px){
    .graphContent{
        gap:20px;
        width:75%;
    }
    
    .otherGraph{
        gap:20px;
    }
        
    .graphTitle{
        font-size: 15px;
    }
    .scoreSize{
        font-size: 24px;
    }

} 


@media screen and (min-width: 769px) and (max-width: 992px){
    .graphContent{
        width: 75%;
        gap:20px;
    }
    
    .otherGraph{
        gap:15px;
    }
    
    .graphTitle{
        font-size: 12px;
    }
    
    .scoreSize{
        font-size: 12px;
    }

    .activityLegend{
        font-size: 12px;
    }
} 

@media screen and (min-width: 376px) and (max-width: 768px){
    .graphContent{
        width: 100%;
    }
    
    .otherGraph{
        gap:10px;
    }
    
    .graphTitle{
        font-size: 12px;
    }
    .scoreSize{
        font-size: 20px;
    }

    .activityLegend{
        font-size: 12px;
    }
} 